<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Why do we create Trippr</h2>
                <hr class="light">
                <p class="text-faded">When we go on a trip with family or friends, there are usually two most common ways to record your trip. You can either take countless photos that you probably won't look at again, or create an album with all the photos your take and write a few sentences to sum up the whole trip. None of these can help you effectively capture the most precious thing of your trip - whom you travel with and what you have done together. We think there is a better way to do it.</p>
                <h2 class="section-heading">Why Trippr?</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <a href="/signup" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

